
.accordion {
    @extend %element-margin;
    padding: 0;
    counter-reset: counter;
    list-style: none;

    &--item {
        border-top: 1px solid $light-gray;

        &:last-child {
            border-bottom: 1px solid $light-gray;
        } // last

        @include bp {
        } // bp 
    } // item

    &--title {
        font-size: 16px;
        margin: 0;
        padding: 25px 18px 25px 0;
        position: relative;

        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {} // hover 

        &::before {
            content: counter(counter) '.';
            counter-increment: counter;
            display: inline-block;
            margin-right: 5px;
        } // before

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto 0;

            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 5px 0 5px;
            border-color: #111111 transparent transparent transparent;
            
            transform: rotate(0deg);
            transform-origin: center;   
            transition: transform 0.3s ease-in-out;

            .accordion--item.is-open & {
                transform: rotate(180deg);
            } // is-open
        } // after
    } // title

    &--content {
        max-height: 0px;
        overflow: hidden;
        padding-left: 2px;
        transition: all 0.3s ease-out;
        
        .accordion--item.is-open & {
            padding-bottom: 40px;
            padding-top: 15px;
            max-height: 1000px;
            transition: all 0.3s ease-in;
    
            @include bp {
                padding-bottom: 64px;
            } // bp
        } // is-open
    } // content
} // .accordion