// VARIABLES =========
$site-width: 990px;

$primary: #2688e1;
$secondary: #23b294;
$light-gray: #d7d7d7;


// MIXINS ============
%element-margin {
margin: 0 0 20px 0;
}

@mixin bp($point:992px) {
    @media (min-width: $point) { @content ; }
}

@mixin maxbp($point:991px) {
    @media (max-width: ($point - 1px)) { @content ; }
}

@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}
